extends ../../templates/layouts/base
block header
  +header('docs')

block content
  .wrapper
    aside#aside.aside
      nav.aside__nav
        .aside__nav__bar
          input.input(type='search', placeholder='search')
          select.select
            option v0.1
          button.button.js_aside_nav_btn(type='button')
            i.fa-solid.fa-up-down
        ul.nav__link-depth-1-wrap.js_nav__link_depth_1_wrap
          li.nav__link-depth-1.js_nav__link_depth_1
            button.nav__subject-title.js_button(
              type='button',
              data-type='text'
            )
              i.icon.fa-solid.fa-chevron-down
              | Getting started
            ul.nav__link-depth-2-wrap
              li.nav__link-depth-2
                a(href='#introduction') Introduction
              li.nav__link-depth-2
                a(href='#structure') Structure
              li.nav__link-depth-2
                a(href='#dependencySettings') Dependency settings
          li.nav__link-depth-1.js_nav__link_depth_1
            button.nav__subject-title.js_button(
              type='button',
              data-type='text'
            )
              i.icon.fa-solid.fa-chevron-down
              | Pug Mixins
            ul.nav__link-depth-2-wrap
              li.nav__link-depth-2
                a(href='#itemList') ItemList
          li.nav__link-depth-1.js_nav__link_depth_1
            button.nav__subject-title.js_button(
              type='button',
              data-type='text'
            )
              i.icon.fa-solid.fa-chevron-down
              | Sass Mixins
            ul.nav__link-depth-2-wrap
              li.nav__link-depth-2
                a(href='#a11y') A11y
              li.nav__link-depth-2
                a(href='#boxAlignment') Box-alignment
              li.nav__link-depth-2
                a(href='#cssGrid') Css-grid
              li.nav__link-depth-2
                a(href='#flexBox') Flexbox
              li.nav__link-depth-2
                a(href='#font') Font
              li.nav__link-depth-2
                a(href='#form') Form
              li.nav__link-depth-2
                a(href='#inheritance') Inheritance
              li.nav__link-depth-2
                a(href='#layout') Layout
              li.nav__link-depth-2
                a(href='#responsiveWeb') Responsive-web
              li.nav__link-depth-2
                a(href='#setting') Setting
              li.nav__link-depth-2
                a(href='#text') Text
              li.nav__link-depth-2
                a(href='#ui') Ui
              li.nav__link-depth-2
                a(href='#utility') Utility
              li.nav__link-depth-2
                a(href='#varient') Varient
          li.nav__link-depth-1.js_nav__link_depth_1
            button.nav__subject-title.js_button(
              type='button',
              data-type='text'
            )
              i.icon.fa-solid.fa-chevron-down
              | Customize
            ul.nav__link-depth-2-wrap
              li.nav__link-depth-2
                a(href='#variables') Variables
              li.nav__link-depth-2
                a(href='#components') Components
              li.nav__link-depth-2
                a(href='#options') Options
    .view
      .page__title-wrap
        h1.page__title DOCUMENTATION
      .inner
        section#introduction.section
          h1.section__title Introduction
          .section__content
            p UI개발자를 위한 UI프레임워크. SUPER ATOMIC DESIGN에 기반한 프레임워크다.
            .section__subject-wrap
              h2.section__subject-title 빠른 시작
              p 아래의 git 저장소에서 로컬 디렉토리로 파일을 복사하라.
              .code-wrap
                code $ git clone https://github.com/super-atom/super-atom-ui
                button.button(data-type='outlined') copy
              p npm package를 설치하고 npm run dev 로 프로젝트를 시작하라.
            .section__subject-wrap
              h2.section__subject-title 페이지 만들기
              p [npm run create 파일명] 명령어로 페이지를 구성하는 폴더 및 파일을 생성하고 코드를 작성하라.
            .section__subject-wrap
              h2.section__subject-title npm 명령어
              ul.introduction__list-wrap
                li
                  p webpack-dev-server 로 로컬 서버에서 개발을 시작한다.
                  .code-wrap
                    code $ npm run dev
                    button.button(data-type='outlined') copy
                li
                  p 웹 사이트를 빌드합니다.
                  .code-wrap
                    code $ npm run prod
                    button.button(data-type='outlined') copy
                li
                  p Prettier 를 이용하여 lint 설정대로 지정한 확장자의 모든 파일의 코드를 정리한다.
                  .code-wrap
                    code $ npm run pretty
                    button.button(data-type='outlined') copy
                li
                  p 빌드된 파일을 삭제한다.
                  .code-wrap
                    code $ npm run clean
                    button.button(data-type='outlined') copy
                li
                  p 기존의 빌드된 파일을 삭제한 후 웹 사이트를 빌드한다.
                  .code-wrap
                    code $ npm run build
                    button.button(data-type='outlined') copy
                li
                  p Netlify로 빌드된 파일을 배포한다.
                  .code-wrap
                    code $ npm run deploy
                    button.button(
                      data-type='outlined',
                      data-tooltip='클릭하면 코드가 복사됩니다.',
                      data-tooltip-dir='bottom'
                    ) copy
        section#structure.section
          h1.section__title Structure
          .section__content
            .directory
              p
              | root
              br
              | ├──
              span(data-tooltip='[config]\r개발환경 설정 파일') config
              br
              | │ ├── paths.js
              br
              | │ ├── util.js
              br
              | │ ├── webpack.common.js
              br
              | │ ├── webpack.dev.js
              br
              | │ └── webpack.prod.js
              br
              | ├──
              span(data-tooltip='[dist]\r빌드 완료 파일') dist
              br
              | ├── scripts
              br
              | │ └── create-page.js
              br
              | ├── src
              br
              | │ ├──
              span(data-tooltip='[assets]\r확장자별 정적 파일들을 위치시킨다') assets
              br
              | │ │ ├── fonts
              br
              | │ │ ├── images
              br
              | │ ├──
              span(
                data-tooltip='[pages]\r"npm run create [페이지명]" 스크립트를 실행하여 페이지를 구성할 파일을 생성 & 작성한다',
                data-tooltip-dir='bottom'
              ) pages
              br
              | │ │ └── foo
              br
              | │ │ ├── foo.json
              br
              | │ │ ├── foo.pug
              br
              | │ │ ├── foo.scss
              br
              | │ │ ├── foo.ts
              br
              | │ │ │ └── bar
              br
              | │ │ │ ├── bar.json
              br
              | │ │ │ ├── bar.pug
              br
              | │ │ │ ├── bar.scss
              br
              | │ │ │ └── bar.ts
              br
              | │ │ │ └── ...
              br
              | │ ├── scripts
              br
              | │ │ └── ts
              br
              | │ │ ├── components
              br
              | │ │ ├── motion
              br
              | │ │ ├── utils
              br
              | │ │ ├── common.ts
              br
              | │ │ └── global.d.ts
              br
              | │ ├── styles
              br
              | │ │ ├──
              span(
                data-tooltip='[base]\ruser agent stylesheet 를 오버라이딩하는 CSS 모음 폴더',
                data-tooltip-dir='bottom'
              ) base
              br
              | │ │ ├──
              span(
                data-tooltip='[functions]\rmixins를 만드는데 사용되는 함수를 폴더',
                data-tooltip-dir='bottom'
              ) functions
              br
              | │ │ ├──
              span(
                data-tooltip='[mixins]\rmixin 폴더',
                data-tooltip-dir='bottom'
              ) mixins
              br
              | │ │ │ └── a11y
              br
              | │ │ │ ├── box-alignment
              br
              | │ │ │ ├── css-grid
              br
              | │ │ │ ├── flexbox
              br
              | │ │ │ ├── font
              br
              | │ │ │ ├── form
              br
              | │ │ │ ├── inheritance
              br
              | │ │ │ ├── layout
              br
              | │ │ │ ├── responsive-web
              br
              | │ │ │ ├── setting
              br
              | │ │ │ ├── text
              br
              | │ │ │ ├── ui
              br
              | │ │ │ ├── utility
              br
              | │ │ │ └── varient
              br
              | │ │ ├──
              span(
                data-tooltip='[setting]\rcore를 바탕으로 사전 정의 CSS를 생성한다. 이 코드가 프레임워크를 구성하는 실체가 된다',
                data-tooltip-dir='bottom'
              ) settings
              br
              | │ │ ├──
              span(
                data-tooltip='[themes]\r테마를 구성하는 CSS 값을 정의하는 맵 모음 폴더',
                data-tooltip-dir='bottom'
              ) themes
              br
              | │ │ ├──
              span(
                data-tooltip='[validators]\rvalidator 성격의 함수 모음 폴더',
                data-tooltip-dir='bottom'
              ) validators
              br
              | │ │ ├──
              span(
                data-tooltip='[variables]\rcore를 구성하기 위한 변수 모음 폴더',
                data-tooltip-dir='bottom'
              ) variables
              br
              | │ │ ├── common.scss
              br
              | │ │ ├── config.scss
              br
              | │ │ └── core.scss
              br
              | │ └──
              span(
                data-tooltip='[template]\r템플릿을 구성하는 pug 코드 모음 폴더',
                data-tooltip-dir='bottom'
              ) templates
              br
              | │ ├──
              span(
                data-tooltip='[components]\r템플릿에 include 될 pug 코드 모음 폴더',
                data-tooltip-dir='bottom'
              ) components
              br
              | │ ├──
              span(
                data-tooltip='[includes]\rtemplate에 include 될 pug 코드 모음 폴더',
                data-tooltip-dir='bottom'
              ) includes
              br
              | │ └──
              span(
                data-tooltip='[layouts]\rpages 에서 사용할 layout 파일 모음 폴더. 실제 컨텐츠를 pages 에서 layout에 주입함으로써 template으로써 사용된다',
                data-tooltip-dir='bottom'
              ) layouts
              br
              | ├──
              span(
                data-tooltip='[.babelrc]\rbabel 설정 파일',
                data-tooltip-dir='bottom'
              ) .babelrc
              br
              | ├──
              span(
                data-tooltip='[.browserslistrc]\r브라우저 적용 대상을 설정하는 파일',
                data-tooltip-dir='bottom'
              ) .browserslistrc
              br
              | ├──
              span(
                data-tooltip='[.editorconfig]\r에디터 코드 스타일 설정 파일. 어느 에디터에서나 동일한 코드 스타일을 위해 필요하다',
                data-tooltip-dir='bottom'
              ) .editorconfig
              br
              | ├──
              span(
                data-tooltip='[.env-sample]\r.js/ts 파일에서 사용할 환경변수를 설정하는 파일. "*-sample" 을 지우고 사용해야 한다.',
                data-tooltip-dir='bottom'
              ) .env-sample
              br
              | ├──
              span(
                data-tooltip='[.eslintrc]\r코드 스타일 유효성 검사를 위한 eslint 설정 파일',
                data-tooltip-dir='bottom'
              ) .eslintrc
              br
              | ├──
              span(
                data-tooltip='[.gitattributes]\r프로젝트를 위한 git 속성 설정 파일',
                data-tooltip-dir='bottom'
              ) .gitattributes
              br
              | ├──
              span(
                data-tooltip='[.gitignore]\rgit 관리 대상에서 제외할 파일/폴더를 설정하는 파일',
                data-tooltip-dir='bottom'
              ) .gitignore
              br
              | ├──
              span(
                data-tooltip='[.nvmrc]\rnode version 을 고정하여 동일한 환경을 구성하기 위한 파일',
                data-tooltip-dir='bottom'
              ) .nvmrc
              br
              | ├──
              span(
                data-tooltip='[.prettierignore]\rPrettier를 사용한 코드 스타일 관리 대상에서 제외할 파일/폴더를 설정하는 파일',
                data-tooltip-dir='bottom'
              ) .prettierignore
              br
              | ├──
              span(
                data-tooltip='[.prettierrc]\rPrettier를 사용한 코드 스타일 설정 파일',
                data-tooltip-dir='bottom'
              ) .prettierrc
              br
              | ├──
              span(
                data-tooltip='[.stylelintignore]\rStylelint를 사용한 코드 스타일 관리 대상에서 제외할 파일/폴더를 설정하는 파일',
                data-tooltip-dir='bottom'
              ) .stylelintignore
              br
              | ├──
              span(
                data-tooltip='[.stylelintignore]\rStylelint를 사용한 코드 스타일 설정 파일',
                data-tooltip-dir='bottom'
              ) .stylelintrc
              br
              | ├──
              span(
                data-tooltip='[.travis]\rtravis 설정 파일',
                data-tooltip-dir='bottom'
              ) .travis.yml
              br
              | ├── LICENSE
              br
              | ├──
              span(
                data-tooltip='[netlify.toml]\rnetlify 에 배포하기 위한 설정 파일',
                data-tooltip-dir='bottom'
              ) netlify.toml
              br
              | ├──
              span(
                data-tooltip='[.package.json]\rnpm 설정 파일',
                data-tooltip-dir='bottom'
              ) package.json
              br
              | ├──
              span(
                data-tooltip='[postcss.config.js]\rPostCSS 설정 파일',
                data-tooltip-dir='bottom'
              ) postcss.config.js
              br
              | ├──
              span(
                data-tooltip='[settings]\rVScode를 위한 설정 파일',
                data-tooltip-dir='bottom'
              ) settings.json
              br
              | ├──
              span(
                data-tooltip='[tsconfig]\rTypeScript를 위한 설정 파일',
                data-tooltip-dir='bottom'
              ) tsconfig.json
              br
              | └──
              span(
                data-tooltip='[webpack.config.js]\rWebpack 설정 파일. 모드에 따라 config 폴더에 있는 webpack 설정 파일을 불러와 사용한다',
                data-tooltip-dir='bottom'
              ) webpack.config.js
