mixin menuItem(page)
  nav.nav
    a.nav__link(
      class=page === "index" ? "nav__link--active" : "",
      href='./index.html',
      title='index'
    ) LOGO
    a.nav__link(
      class=page === "about" ? "nav__link--active" : "",
      href='./about.html',
      title='about'
    ) about
    a.nav__link(
      class=page === "work" ? "nav__link--active" : "",
      href='./work.html',
      title='work'
    ) work
    a.nav__link(
      class=page === "contact" ? "nav__link--active" : "",
      href='./contact.html',
      title='contact'
    ) contact
    a.nav__link(
      class=page === "sample" ? "nav__link--active" : "",
      href='./sample.html',
      title='sample'
    ) sample
