mixin header(page)
  header#header.header
    nav.nav
      .nav__dim
      .nav__logo
        a.nav__link(
          class=page === "index" ? "nav__link--active" : "",
          href='/index.html',
          title='index'
        )
      .nav__link-wrap
        each val in ['about', 'guide', 'docs', 'ingredient', 'component', 'core']
          a.nav__link(
            class=page === val ? "nav__link--active" : "",
            href="./" + val + ".html",
            title=val
          )= val
      .nav__download-wrap
        +link_button({target: 'blank', href: 'https://github.com/super-atom/super-atom-ui'})
          i.icon.fa-brands.fa-github
      .nav__toggle-wrap
        +button({type:'outlined-reverse'}).js_nav__toggle_btn
          i.icon.fa-solid.fa-bars
