mixin header(page)
  header#header.header
    nav.nav
      .nav__dim
      .nav__logo
        a.nav__link(
          class=page === "index" ? "nav__link--active" : "",
          href='/index.html',
          title='index'
        )
      .nav__link-wrap
        a.nav__link(
          class=page === "about" ? "nav__link--active" : "",
          href='/about.html',
          title='about'
        ) ABOUT
        a.nav__link(
          class=page === "docs" ? "nav__link--active" : "",
          href='/docs.html',
          title='docs'
        ) DOCS
        a.nav__link(
          class=page === "ingredient" ? "nav__link--active" : "",
          href='/ingredient.html',
          title='ingredient'
        ) INGREDIENT
        a.nav__link(
          class=page === "example" ? "nav__link--active" : "",
          href='/example.html',
          title='example'
        ) EXAMPLE
      .nav__download-wrap
        a.button(
          href='https://github.com/super-atom/super-atom-ui',
          target='_blank',
          data-type='outlined-reverse'
        ) DOWNLOAD
      .nav__toggle-wrap
        button#nav__toggle.button.js-nav__toggle-btn(
          data-type='outlined-reverse'
        ) BTN
