extends ../../layouts/base
block header
  +header('ingredient')

block content
  .inner
    .page__title-wrap
      h1.page__title Design System
    section.section.typo-section
      h1.section__title Typography
      .section__content
        ul.txt-wrap.typeface-wrap
          each items in ['Noto Sans Black', 'Noto Sans Bold', 'Noto Sans DemiLight', 'Noto Sans Light', 'Noto Sans Medium', 'Noto Sans Regular', 'Noto Sans Thin']
            li= items
        ul.txt-wrap.heading-wrap
          h1 Heading 1
          h2 Heading 2
          h3 Heading 3
          h4 Heading 4
          h5 Heading 5
          h6 Heading 6
    section.section.color-section
      h1.section__title Color
      .section__content
        ul.color-wrap
          - var i = 0;
          while i < 10
            li.grey= "grey-" + i++
        ul.color-wrap
          - var i = 0;
          while i < 10
            li.material-red= "red-" + i++
        ul.color-map-wrap
          li.material-pink pink-5
          li.material-purple purple-5
          li.material-deep-purple deep-purple-5
          li.material-indigo indigo-5
          li.material-blue blue-5
          li.material-light-blue light-blue-5
          li.material-cyan cyan-5
          li.material-green green-5
          li.material-light-green light-green-5
          li.material-lime lime-5
        ul.color-map-wrap
          li.material-yellow yellow-5
          li.material-amber amber-5
          li.material-orange orange-5
          li.material-deep-orange deep-orange-5
          li.material-brown brown-5
          li.material-blue-grey blue-grey-5
    section.section.grid-section
      h1.section__title Grid
      .section__content
        +list('grid','grid','grid','grid','grid','grid','grid','grid','grid','grid','grid','grid').txt-wrap

    section.section.ratio-section
      h1.section__title Ratio
      .section__content
        ul.txt-wrap
          li
            p 1:1 ratio
          li
            p 3:4 ratio
          li
            p golden ratio
          li
            p golden ratio
          li
            p silver ratio
          li
            p silver ratio
          li
            p bronze ratio
          li
            p bronze ratio
    section.section.varient-section
      h1.section__title Varient
      .section__content
        .btn-wrap
          +button({type:'contained', label:'contained button'})
          +button({type:'outlined', label:'outlined button'})
          +button({type:'outlined-reverse', label:'outlined-reverse button'})
          +button({type:'text', label:'text button'})
          +button({type:'round', label:'round button'})
          +button({type:'round-reverse', label:'round-reverse button'})
          +button({label:'disabled button', disabled: 'disabled'})
    section.section.theme-section
      h1.section__title Theme
      .section__content
        .btn-wrap.theme-base
          +button({type: 'contained', label: 'themeless button'}).js_themeless_btn
          +button({type: 'contained', label: 'base theme button'}).js_base_theme_btn
          +button({type: 'contained', label: 'atom theme button'}).js_atom_theme_btn
    section.section.table-section
      h1.section__title Table
      .section__content
        table.table
          thead
            tr
              th Sites
              th Views
              th Clicks
              th Average
          tbody
            tr
              td Google
              td 9518
              td 6369
              td 01:32:50
            tr
              td Google
              td 9518
              td 6369
              td 01:32:50
    section.section.form-section
      h1.section__title Form
      .section__content
        .item-wrap
          h2.item-title Input
          input.input(type='text', placeholder)
          .input-wrap
            input.input(type='text', placeholder, data-state='error')
            p.input__errorMsg 다시 확인해 주세요.
          input.input(type='text', placeholder, disabled)
          input.input(
            type='text',
            placeholder='텍스트 입력',
            value='입력내용',
            readonly
          )
        .item-wrap
          h2.item-title Checkbox
          .item-wrap
            .item
              input#chk-01.input(type='checkbox', name='chk', checked)
              label(for='chk-01') 체크박스
            .item
              input#chk-02.input(type='checkbox', name='chk')
              label(for='chk-02') 체크박스
            .item
              input#chk-03.input(type='checkbox', name='chk', disabled)
              label(for='chk-03') 체크박스
          h2.item-title Checklist
          .item-wrap
            .chkBox
              input#check-05.input(type='checkbox', name='check')
              label(for='check-05')
                strong 약관 전체동의 (필수)
            .chkBox
              input#check-06.input(type='checkbox', name='check')
              label(for='check-06') 주문할 상품의 정보를 확인하였으며 해당 주문에 대한 구매에 동의합니다.
        .item-wrap
          h2.item-title Radio Box
          .radioWrap
            .radioBox
              input#radio-01.input(type='radio', name='radio', checked)
              label(for='radio-01') 라디오
            .radioBox
              input#radio-02.input(type='radio', name='radio')
              label(for='radio-02') 라디오
            .radioBox
              input#radio-03.input(type='radio', name='radio', disabled)
              label(for='radio-03') 라디오
        .item-wrap
          h2.item-title Select Box
          .radioWrap
            p.item-title Radio Button Group
            .selectWrap
              select.select(title='옵션')
                option 전체
                option 옵션1
                option 옵션2
                option 옵션3
        .item-wrap
          h2.item-title Form Group
          div
            label.label(for='field1') Full name
            input#field1.input(
              name='field1',
              type='text',
              value='',
              size='8',
              tabindex='1'
            )
          div
            label.label(for='field2') Email
            input#field2.input(
              name='field2',
              type='email',
              value='',
              maxlength='255',
              tabindex='2'
            )
          div
            label.label(for='field3') Message
            textarea#field3.textarea(
              name='field3',
              spellcheck='true',
              rows='10',
              cols='50',
              tabindex='3'
            )
          div
            fieldset
              legend select a choice
              div
                input.input(type='hidden', value='')
                div
                  input#field4_1.input(
                    name='field4',
                    type='radio',
                    value='first choice',
                    tabindex='4',
                    checked='checked'
                  )
                  label.label(for='field4_1') First Choice
                div
                  input#field4_2.input(
                    name='field4',
                    type='radio',
                    value='first choice',
                    tabindex='5',
                    checked='checked'
                  )
                  label.label(for='field4_2') Second Choice
                div
                  input#field4_3.input(
                    name='field4',
                    type='radio',
                    value='first choice',
                    tabindex='6',
                    checked='checked'
                  )
                  label.label(for='field4_3') Third Choice
          div
            label.label Select a Choice
            div
              select#field5.select(tabindex='7')
                option(value='first choice') First Choice
                option(value='second choice') Second Choice
                option(value='third choice') Third Choice
          div
            input#saveForm.input.button(
              name='saveForm',
              type='submit',
              value='submit'
            )
