extends ../../layouts/base
block header
  +header('ingredient')

block content
  .inner
    .page__title-wrap
      h1.page__title Design System
    section.section.typo-section
      h1.section__title Typography
      .section__content
        ul.txt-wrap.typeface-wrap
          each items in ['Noto Sans Black', 'Noto Sans Bold', 'Noto Sans DemiLight', 'Noto Sans Light', 'Noto Sans Medium', 'Noto Sans Regular', 'Noto Sans Thin']
            li= items
        ul.txt-wrap.heading-wrap
          h1 Heading 1
          h2 Heading 2
          h3 Heading 3
          h4 Heading 4
          h5 Heading 5
          h6 Heading 6
    section.section.color-section
      h1.section__title Color
      .section__content
        ul.color-wrap
          - var i = 0;
          while i < 10
            li.grey= "grey-" + i++
        ul.color-wrap
          - var i = 0;
          while i < 10
            li.material-red= "red-" + i++
        ul.color-map-wrap
          li.material-pink pink-5
          li.material-purple purple-5
          li.material-deep-purple deep-purple-5
          li.material-indigo indigo-5
          li.material-blue blue-5
          li.material-light-blue light-blue-5
          li.material-cyan cyan-5
          li.material-green green-5
          li.material-light-green light-green-5
          li.material-lime lime-5
        ul.color-map-wrap
          li.material-yellow yellow-5
          li.material-amber amber-5
          li.material-orange orange-5
          li.material-deep-orange deep-orange-5
          li.material-brown brown-5
          li.material-blue-grey blue-grey-5
    section.section.grid-section
      h1.section__title Grid
      .section__content
        +list('grid','grid','grid','grid','grid','grid','grid','grid','grid','grid','grid','grid').txt-wrap

    section.section.ratio-section
      h1.section__title Ratio
      .section__content
        ul.txt-wrap
          li
            p 1:1 ratio
          li
            p 3:4 ratio
          li
            p golden ratio
          li
            p golden ratio
          li
            p silver ratio
          li
            p silver ratio
          li
            p bronze ratio
          li
            p bronze ratio
    section.section.varient-section
      h1.section__title Varient
      .section__content
        .btn-wrap
          +button({type:'contained', label:'contained button'})
          +button({type:'outlined', label:'outlined button'})
          +button({type:'outlined-reverse', label:'outlined-reverse button'})
          +button({type:'text', label:'text button'})
          +button({type:'round', label:'round button'})
          +button({type:'round-reverse', label:'round-reverse button'})
          +button({label:'disabled button', disabled: 'disabled'})
    section.section.theme-section
      h1.section__title Theme
      .section__content
        .btn-wrap.theme-base
          +button({type: 'contained', label: 'themeless button'}).js_themeless_btn
          +button({type: 'contained', label: 'base theme button'}).js_base_theme_btn
          +button({type: 'contained', label: 'atom theme button'}).js_atom_theme_btn
    section.section.table-section
      h1.section__title Table
      .section__content
        table.table
          thead
            tr
              th Sites
              th Views
              th Clicks
              th Average
          tbody
            tr
              td Google
              td 9518
              td 6369
              td 01:32:50
            tr
              td Google
              td 9518
              td 6369
              td 01:32:50
    section.section.form-section
      h1.section__title Form
      .section__content
        .item-wrap
          h2.item-title Input Status
          input.input.full-input(type='text', placeholder)
          input.input.full-input(
            type='text',
            data-form-state='normal',
            value='normal state'
          )
          input.input.full-input(
            type='text',
            data-form-state='hover',
            value='hover state'
          )
          input.input.full-input(
            type='text',
            data-form-state='focus',
            value='focus state'
          )
          input.input.full-input(
            type='text',
            data-form-state='valid',
            value='valid state'
          )
          .input-group
            input.input.full-input(
              type='text',
              data-form-state='invalid',
              value='invalid state'
            )
            p.input__message--invalied 다시 확인해 주세요.
          input.input.full-input(
            type='text',
            placeholder='disabled input',
            disabled
          )
          input.input.full-input(
            type='text',
            placeholder='텍스트 입력',
            value='읽기 전용 텍스트',
            readonly
          )
        .item-wrap
          h2.item-title Checkbox
          .item
            input#chk-01.input(type='checkbox', name='chk', checked)
            label(for='chk-01') 체크박스
          .item
            input#chk-02.input(type='checkbox', name='chk')
            label(for='chk-02') 체크박스
          .item
            input#chk-03.input(type='checkbox', name='chk', disabled)
            label(for='chk-03') 체크박스
        .item-wrap
          h2.item-title Checklist
          .check-box
            input#check-05.input(type='checkbox', name='check')
            label(for='check-05')
              strong 약관 전체동의 (필수)
          .check-box
            input#check-06.input(type='checkbox', name='check')
            label(for='check-06') 주문할 상품의 정보를 확인하였으며 해당 주문에 대한 구매에 동의합니다.
        .item-wrap
          h2.item-title Radio Box
          .radioWrap
            .radioBox
              input#radio-01.input(type='radio', name='radio', checked)
              label(for='radio-01') 라디오
            .radioBox
              input#radio-02.input(type='radio', name='radio')
              label(for='radio-02') 라디오
            .radioBox
              input#radio-03.input(type='radio', name='radio', disabled)
              label(for='radio-03') 라디오
        .item-wrap
          h2.item-title Select Box
          select.select(title='옵션')
            option 전체
            option 옵션1
            option 옵션2
            option 옵션3
        .item-wrap
          h2.item-title 그 외 Input
          .input-wrap
            label(for='inputColor') Color
            input#inputColor.full-input.input(type='color')
          .input-wrap
            label(for='inputDate') Date
            input#inputDate.full-input.input(type='date')
          .input-wrap
            label(for='inputDatetime') Datetime
            input#inputDatetime.full-input.input(type='datetime')
          .input-wrap
            label(for='inputDatetimeLocal') Datetime Local
            input#inputDatetimeLocal.full-input.input(type='datetime-local')
          .input-wrap
            label(for='inputEmail') Email
            input#inputEmail.full-input.input(type='email')
          .input-wrap
            label(for='inputMonth') Month
            input#inputMonth.full-input.input(type='month')
          .input-wrap
            label(for='inputNumber') Number
            input#inputNumer.full-input.input(type='number')
          .input-wrap
            label(for='inputPassword') Password
            input#inputPassword.full-input.input(type='password')
          .input-wrap
            label(for='inputSearch') Search
            input#inputSearch.full-input.input(type='search')
          .input-wrap
            label(for='inputTel') Tel
            input#inputTel.full-input.input(type='tel')
          .input-wrap
            label(for='inputText') Text
            input#inputText.full-input.input(type='text')
          .input-wrap
            label(for='inputTime') Time
            input#inputTime.full-input.input(type='time')
          .input-wrap
            label(for='inputUrl') Url
            input#inputUrl.full-input.input(type='url')
        .item-wrap
          h2.item-title Form Group
          .form-group
            .input-wrap
              label.label(for='field1') Full name
              input#field1.input(
                name='field1',
                type='text',
                value='',
                size='8',
                tabindex='1'
              )
            .input-wrap
              label.label(for='field2') Email
              input#field2.input(
                name='field2',
                type='email',
                value='',
                maxlength='255',
                tabindex='2'
              )
            .input-wrap
              label.label(for='field3') Message
              textarea#field3.textarea(
                name='field3',
                spellcheck='true',
                rows='10',
                cols='50',
                tabindex='3',
                style='height: 100px'
              )
            .input-wrap
              fieldset.fieldset
                legend.legend Select a choice
                input.input(type='hidden', value='')
                .input-group
                  .input-wrap
                    input#field4_1.input(
                      name='field4',
                      type='radio',
                      value='first choice',
                      tabindex='4',
                      checked='checked'
                    )
                    label.label(for='field4_1') First Choice
                  .input-wrap
                    input#field4_2.input(
                      name='field4',
                      type='radio',
                      value='first choice',
                      tabindex='5',
                      checked='checked'
                    )
                    label.label(for='field4_2') Second Choice
                  .input-wrap
                    input#field4_3.input(
                      name='field4',
                      type='radio',
                      value='first choice',
                      tabindex='6',
                      checked='checked'
                    )
                    label.label(for='field4_3') Third Choice
            .input-wrap
              label.label Select a Choice
              select#field5.select(tabindex='7')
                option(value='first choice') First Choice
                option(value='second choice') Second Choice
                option(value='third choice') Third Choice
            .input-wrap
              input#saveForm.input.button(
                name='saveForm',
                type='submit',
                value='submit'
              )
